# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest Cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Outputs / Figure saves
*.gif
*.mp4
*.png
